.contact-form-container {
  max-width: 530px;
  margin: auto;
}

.send-message-button {
  padding: 35px;
  height: 3.7rem;
  border-radius: 0;
  background-color: black !important;
  margin: auto;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}