main {
  width: 100vw;
  height: 100vh;
  
  // @include desktop {
  //   font-size: 100em;
  // }

  // React instance and main
  // nav container
  > div {
    width: 100%;
    height: 100%;
  }
}


// General form config

.input, .textarea {
  border: 2px solid black;
  box-shadow: none;
  border-radius: 0;

  &:hover:not(:focus) {
    border-color: black;
    background: darken(white, 2%);
  }
}

.input {
  height: 3.2rem;
}

.control {
  margin-bottom: 1.5rem;
}

// General font config

h1 {
  font-family: 'Calluna Bold', Arial, sans-serif;
}

// General button config

.button {
  border-radius: 100px;
  padding: 25px;
}