@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/mixins';

$nav-width: 450px;
$speed: .75s;
$easing: cubic-bezier(0.19, 1, 0.22, 1);
$success: #53ffb8;
$danger: #ff3860;