.projects-container {
  > div {
    font-size: 0;
    flex-wrap: wrap;
    margin: -2.5%;
  }
  .item {
    width: calc(33% - 5%);
    margin: 2.5%;
    display: inline-block;
    background: whitesmoke;
    height: 0;
    padding-top: 25%;
  }
}