.projects-container {
  .projects-items-container {
    font-size: 0;
    margin: -2.5%;
  }
  .item {
    margin: 2.5%;
    display: inline-block;
    height: 0;
    height: 100vw;
    width: calc(100% - 5%);
    height: 150px;
    position: relative;
    
    @include tablet {
      width: calc(50% - 5%);
      height: 250px;
    }

    @include desktop {
      width: calc(33% - 5%);
      height: 350px;
    }
  }
  .project-item-animation {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}